<html>
    <head>
        <title>Reset Password</title>

        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

        <script type="text/javascript">
            $(function() {

                // It's OK for user ID to be 0 here. Server gets user ID from the token
                var RESET_URL = '/api/users/0/changePassword';

                $('.pwForm').on('submit', function(ev) {
                    ev.preventDefault();

                    var $form = $(this),
                        pass1 = $form.find('[name="pass1"]').val(),
                        pass2 = $form.find('[name="pass2"]').val(),
                        passwordsMatch = pass1 === pass2,
                        body = {
                            newPassword: pass1,
                            resetToken: $form.find('[name="resetToken"]').val()
                        }

                    if(!passwordsMatch) {
                        alert('Passwords do not match.\nPlease ensure both passwords are the same');
                        return;
                    }

                    var request = {
                        type: 'POST',
                        data: JSON.stringify(body),
                        url: RESET_URL,
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json'
                    }

                    $.ajax(request)
                        .done(function() {
                            alert('Your password has successfully been changed.');
                        })
                        .fail(function() {
                            alert('There was a problem changing your password. Please try again later, or request a new reset email.');
                        });

                    return false;
                })
            });
        </script>

        <style>
            * { box-sizing: border-box; }

            html, body {
                padding: 0;
                margin: 0;
            }

            body {
                font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                width: 100%;
                max-width: 320px;
                margin: auto;
                padding: 20px;
            }

            h1, h2, h3 {
                margin-bottom: .3em;
            }

            .field {
                margin-bottom: 15px;
            }

            .field__input {
                width: 100%;
                padding: 5px 10px;
                font-size: 16px;
            }

            button {
                width: 100%;
                padding: 8px;
                font-size: 18px;
            }
        </style>
    </head>
    <body>
        <h1>Reset Password</h1>

        {{#if msg}}
            <div class="msg">
                <strong>{{msg}}</strong>
            </div>
        {{/if}}

        {{#if showResetForm}}
            <form class="pwForm">
                <div class='field'>
                    <label>New password</label><br/>
                    <input class="field__input" type="password" name="pass1" />
                </div>

                <div class='field'>
                    <label>Confirm password</label><br/>
                    <input class="field__input" type="password" name="pass2" />
                </div>

                <input type="hidden" name="resetToken" value="{{resetToken}}" />

                <div class="field">
                    <button type="submit">Change password</button>
                </div>
            </form>
        {{/if}}

    </body>
</html>