<html>
    <head>
        <title>Reset Password</title>

        <style>
            * { box-sizing: border-box; }

            html, body {
                padding: 0;
                margin: 0;
            }

            body {
                font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
                width: 100%;
                max-width: 320px;
                padding: 0 20px;
            }
        </style>
    </head>
    <body>
        <h1>Reset Password</h1>
    </body>
</html>